h1 {
    font-family: Arial;
    text-align: center;
}

img {
    width: 500px;
    height: auto;
}

body {
    font-family: Arial;
}

svg {
    border: 2px solid white;
}

.div-shapes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px 50px;
}

.flex-item {
    border: 5px solid black;
    flex-grow: 1;
}

.my-rect {
  fill: rgb(127, 0, 0);
  transition: all 250ms linear;
}

.my-rect:hover {
  fill: rgb(255, 0, 0);
}

.my-circ {
  fill: rgb(0, 0, 127);
  transition: all 250ms linear;
}

.my-circ:hover {
  fill: rgb(0, 0, 255);
}

.bullted-list {
    text-align: center;
}

.ul-item { 
    display: inline-block;
    text-align: left;
    font-weight: normal;
}

