h1 {
    font-family: Arial;
    text-align: center;
}

body {
    font-family: Arial;
}

svg {
    border: 2px solid black;
}

img {
    widht: 80%;
    length:  80%;
}

.div-shapes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px 50px;
}

.flex-item {
    border: 5px solid black;
    flex-grow: 1;
}

.my-rect {
  fill: rgb(127, 0, 0);
  transition: all 250ms linear;
}

.my-rect:hover {
  fill: rgb(255, 0, 0);
}

.my-circ {
  fill: rgb(0, 0, 127);
  transition: all 250ms linear;
}

.my-circ:hover {
  fill: rgb(0, 0, 255);
}